*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text span:nth-child(1){
    color: purple;
    text-shadow: 3px 3px black;
    font-style: italic;
}

.text span:nth-child(2){
    color: rgb(188, 187, 196);
    text-shadow: 3px 3px black;
    font-style: italic;
}

@media(max-width: 768px){
    .text{
        padding-top: 5%;
    }

    .auth-area{
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        padding: 10% 7%;
        
    }

    .full-name{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #fff;
        margin: 3% 0;
    }

    .full-name input{
        position: absolute;
        height: 6vh;
        width: 80%;
        outline: none;
        background-color: transparent;
        border: 2px solid #FFB200;
        padding: 0 0.5rem;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif ;
        
    }

    .labelling{
        font-size: 15px;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        padding: 2%;
        background-color: #3E5879;
        transition: 0.2s ease;
    }

    .full-name input:focus,
    .full-name input:valid{
        color: #fff;
        border: 2px solid#66ff00;
        font-size: 15px;
        font-weight: 300;
    }

    .full-name input:focus + .labelling,
    .full-name input:valid + .labelling{
        color: #66ff00;
        height: 4vh;
        font-size: 15px;
        transform: translate(-2%, -70%) scale(0.88);
        z-index: 1111;
    }

    .Error-message{
        display: flex;
        justify-content: start;
        justify-items: center;
        padding: 0.8rem 0.5rem;
        color: red;
        font-weight: 500;
    }

    .email{
        width: 40%;
    }

    



}